@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

input:focus,
button:focus,
select:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
}

.custom_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
.container-inner{
  max-width: 1266px;
  margin: 0 auto;

}

input {
  outline: none;
  border: none;
}

.input:focus {
  outline: none;
  border: none;
}

.scroll-x-auto {
  overflow-x: auto !important;
}

.scroll-y-auto{
  overflow-x: auto !important;
}
.flowbite-scroll-x-auto {
  overflow-x: auto !important;
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
}

.scroll-x-auto::-webkit-scrollbar,
.flowbite-scroll-x-auto::-webkit-scrollbar, .scroll-y-auto::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #8552f3;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.checkbox-wrapper {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.checkbox-icon {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: flex;
  margin-top: 2px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox:checked + .checkbox-icon {
  border-color: #292D32;
  background-color: #f0f0f0;
}

.checkbox:checked + .checkbox-icon svg {
  display: block;
}

.checkbox-icon svg {
  display: none;
  width: 14px;
  height: 14px;
  fill: #fff;
}



.checkbox-wrapper label{
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.react-datepicker-wrapper{
  width: 100%;
}

.checkbox-icon.error  {
  border: 2px solid red;
}