@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.userInfo {
    display: flex;
    align-items: center;
    column-gap: 21px;
    margin-bottom: 17px;
}

.menu {
    margin-top: 38px;
    font-family: "Poppins", serif;
    font-size: 20px;
}

.menu li {
    margin-bottom: 32px;
}

.menu li:hover>button {
    color: #8552F3;
}

.menu li:last-child>button {
    color: red;
}


.flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fullname {
    color: #636363;
    font-size: 22px;
}

.location {
    display: flex;
    gap: 6px;
    color: #A1A1A1;
}

.rating {
    display: flex;
    gap: 6px;
    color: #706AB5;
}

.avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.sidebar {
    width: 365px;
    height: 489px;
    border: 2px solid;
    /* Define the thickness of the border */
    border-image: linear-gradient(90deg, #DA99FF, #9CD9FF) 1;
    border-radius: 20px;
    padding: 30px 34px 26px 33px;
}